<!DOCTYPE html>
<html>
    <head>
        <head>
            <meta charset="UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <style>
        .countain{
            background-color: rgba(250, 235, 215, 0.966);
            border-radius: 25px;
            color: rgb(129, 7, 7);
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 10px;
            padding-right: 10px;
            align-items:center;

        }
        .sit{
            background-color: rgba(136, 25, 25, 0.966);
            color: rgb(8, 8, 8);

        }
    </style>
    <title> Insurance</title>
    <div class="sit">
    <h1>
        <center>Insurance</center>
    </h1>
    <div class="countain">
        <center>
            <form method="POST", action="{{url_for('predict')}}">
        Age: <input type="number" name='1'><br><br>
        Sex:
        <select class="sex" name='2'>
            <option value = 1>Male</option>
            <option value = 0>Female</option>
            </select>
            <br><br>
         BMI:<input type="number" name='3'><br><br>
         Children:<input type="number" name='4'><br><br>
         Smoker: <select class="fast" name='5'>
             <option value=1>Yes</option>
             <option value=0>No</option>
         </select>
         <br><br>
         Region:<select class="fast" name='6'>
             <option value=1>southwest</option>
             <option value=2>southeast</option>
             <option value=3>northwest</option>
             <option value=4>northeast</option>
         </select>
         <br><br>
         <button type="submit" value="predict">Submit</button>
        </center>
        </form>
    </div>
    </div>
</html>